page-login {

  .alin {
    //margin: 20% 20%;
    text-align: center;
    background-color: rgba(240, 255, 255, 0.616);
    padding: 2%;

  }

  .imageHere {
    background-image: url("../../assets/imgs/Restaurante.jpg");
  }

  .textoPrinc {
    margin-top: 10%;
    color: blue;
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.692);
  }

  .btnRegistra {
    background-color: red;
  }

  .lblUser {
    text-align: center;
    color: blue;
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.692);
  }

  .lblPass {
    text-align: center;
    color: blue;
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.692);
  }
  .textoBar {
    text-align: center;
    color: red;
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.699);
  }
}
