page-cadastra-produto {
  .imageHere {
    //background-image: url("../../assets/imgs/Restaurante.jpg");
  }

  .espace {
    margin: 10px;
  }

  .alin {
    margin: 5% 20%;
    text-align: center;
    size: 20pt;
  }

}
