<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only persistent="false">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title text-center>CARRINHO</ion-title>
  </ion-navbar>
</ion-header>

<!-- COLOCAR ITEM DE CARRINHO NA PAGE DE IR PARA O CARRINHO; -->

<ion-content>
  <ion-list padding>
    <button ion-button block color="primary" (click)="onPagamento()">
      PAGAR
    </button>
    <button ion-button block color="primary" (click)="onBusca()">
      Continuar comprando
    </button>
    <button ion-button block color="danger">Excluir do Carrinho</button>
    <button ion-button block color="danger" (click)="onBusca()">
      Desistir da Compra
    </button>
  </ion-list>

  <ion-card class="card" *ngFor="let comanda of produtos">
    <ion-item class="itemBody" col-8 col-sm-8 col-md-10 col-lg-8 col-xl-11>
      <ion-avatar class="ionAvatar" item-left text-center>
        <p>{{ comanda.nome }}</p>
        <ion-icon nome="person"></ion-icon>
      </ion-avatar>

      <label class="lblValor">R$ {{ comanda.valor }}</label>
      <p>{{ comanda.descricao }}</p>
    </ion-item>
    <ion-item class="acoes" col-4 col-sm-4 col-md-4 col-lg-4 col-xl-2>
      <ion-item class="itemView" (click)="onDetalhaComandas()">
        <ion-icon name="eye"></ion-icon>
      </ion-item>

      <ion-item class="itemCheckbox">
        <ion-icon name="close" (click)="removeComanda()"></ion-icon>
      </ion-item>
    </ion-item>
    <!-- <div *ngIf="showProdutos" >
      <ion-card class="card">
        <ion-item class="itemBody" col-8 col-sm-8 col-md-10 col-lg-8 col-xl-11>
          
          <ion-item class="ionAvatar" item-left text-center>
            <p>{{ comanda.codigoBarra }}</p>
          </ion-item>
    
          <label>{{ comanda.nome }}</label>
          <label class="lblValor">R$ {{ comanda.valorVenda }}</label>
          <p>{{ comanda.descricao }}</p>
        </ion-item>
    </ion-card>
    </div> -->
  </ion-card>
</ion-content>
